<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFileDirectory" value="C:\Logger\"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringDatabase" connectionString="Server=(local);Database=DatabaseTest;User Id=jdianderas;Password=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>